<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendors -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/vue-airbnb-style-datepicker.min.css">

</head>

<body>
    <nav>
        <div class="nav__wrapper">
            <div class="nav__left">
                <div class="nav__hamburger">
                    <button class="nav__hamburger--btn" data-toggle="modal" data-target="#navModal">
                        <img src="/images/icons/element-icon-hamburger-menu-on-dark-background-default.svg" alt="The Dunloe">
                        <p>Menu</p>
                    </button>
                </div>
                <div class="form-group lang-select">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>ENG</option>
                      <option>POL</option>
                    </select>
                  </div>
            </div>
            <div class="nav__logo--desktop d-none d-lg-block">
                <a href="#"><img src="/images/logo.png" alt="The Dunloe"></a>
            </div>
            <div class="nav__extra">
                <a href="#" class="nav__link">Contact</a>
                <a href="#" class="nav__link">Offers</a>
                <a href="#" class="btn-secondary"  data-toggle="modal" data-target="#bookingModal">BOOK</a>
            </div>
        </div> 
    </nav>
    <nav class="generic__nav navbar-hide" id="fixedNavHome">
        <div class="nav__wrapper">
            <div class="nav__left">
                <div class="nav__hamburger">
                    <button class="nav__hamburger--btn">
                        <img src="/images/icons/element-icon-hamburger-menu-primary-default.svg" alt="The Dunloe">
                        <p>Menu</p>
                    </button>
                </div>
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>ENG</option>
                        <option>POL</option>
                    </select>
                </div>
            </div>
            <div class="nav__logo--desktop">
                <a href="#"><img src="/images/logo-icon.jpg" alt="The Dunloe"></a>
            </div>
            <div class="nav__extra">
                <a href="#" class="nav__link">Contact</a>
                <a href="#" class="nav__link">Offers</a>
                <a href="#" class="btn-primary">BOOK</a>
            </div>
        </div>
    </nav>

    <header class="home__header" style="background-image: linear-gradient(to bottom, rgba(32, 47, 56, 0.4) 99%, rgba(19, 30, 58, 0) 50%, rgba(32, 47, 56, 0.4) 0%), url(/images/temp/header.jpg)">
        <div class="home__header__logo">
            <a href="#"><img src="/images/logo.png" alt="The Dunloe"></a>
        </div>
        <div class="home__header__content">
            <h4>Luxury 5-Star Hotel in Killarney, Ireland</h4>
            <a href="javascript:;" class="scroll-to"><img src="/images/icons/element-icon-arrow-down-white.svg" alt=""></a>
        </div>
    </header>

    <main id="main" class="home">

        <div class="home__content">
            <section class="home__notification">
                <div class="home__notification__buttons">
                    <a href="#" class="btn-primary-transparent">Contact Us</a>
                    <a href="#" class="btn-primary-transparent">Gift Vouchers</a>
                </div>
                <div class="home__notification__alert">
                    <p>The Dunloe Hotel & Gardens is currently closed and will reopen in April 2021.</p>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-primary-transparent">Gift Vouchers</a>
                </div>
            </section>
            <section class="home__content__logo">
                <img src="/images/logo-icon.jpg" class="d-lg-none" alt="">
                <img src="/images/logo-dark.jpg" class="d-none d-lg-block" alt="">
            </section>
            <hr>
            <section class="home__description">
                <span class="label-text">A 5-star Irish Hotel that Nothing Comes Close To ‒ The Dunloe Hotel & Gardens</span>
                <p>Discover The Dunloe Hotel & Gardens, Ireland’s unique five star luxury hotel that captivates with tranquil sophistication and natural splendour at the breathtaking Gap of Dunloe. The 64-acre estate transports you away from the everyday with its sprawling manicured parklands showcasing an extraordinary arboretum that leads on to the hidden ruins of the 13th century Dunloe Castle. Ancient and modern worlds meet amid the spectacular rugged beauty of the River Laune and County Kerry scenery, with a stay at The Dunloe like nowhere else on earth.</p>
            </section>
            <!-- <div id="booking-widget" class="booking-widget">
                <div class="widget-form">
                    <form action="">
                        <div class="booking-widget-grid">
                            <div class="form-group">
                                <div class="booking-widget-datepicker">
                                    <input class="form-control" type="text" id="trigger-single" :value="formatDates(arrivalDate)" placeholder="Select date" readonly>
                                    <input type="hidden" name="arrival" :value="arrivalDate">
                                    <airbnb-style-datepicker
                                            :trigger-element-id="'trigger-single'"
                                            :mode= "'single'"
                                            :date-one="arrivalDate"
                                            :months-to-show="1"
                                            @date-one-selected="dateSelected"
                                    ></airbnb-style-datepicker>
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1 Night</option>
                                    <option>2 Nights</option>
                                    <option>3 Nights</option>
                                    <option>4 Nights</option>
                                    <option>5 Nights</option>
                                </select>
                            </div>
                        </div>
                        <div id="guest-widget">
                            <div class="guest-quantity" v-for="room in rooms">
                                <div class="d-flex total-guests roll" v-on:click="isHidden = !isHidden">
                                    <p>{{totalRooms}} room</p>
                                    <p>{{totalPeople}} people</p>
                                </div>
                                <div class="guest-widget-buttons" v-if="!isHidden">
                                    <div class="guest-widget-buttons-container">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p>How many rooms?</p>
                                            <div class="d-flex align-items-center justify-content-between w-50">
                                                <button type="button" @click="room.quantity -= 1" :disabled="room.quantity == 1">-</button>
                                                    <span>{{room.quantity}}</span>
                                                <button type="button" @click="room.quantity += 1">+</button>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 4">
                                            <p class="room-number">
                                                <span>Room {{room.quantity}}<span>
                                            </p>                            
                                            <div class="align">
                                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                                    <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 3">
                                            <p class="room-number">
                                                <span class="font-italic">Room {{room.quantity}}<span>
                                            </p>                            
                                            <div class="align">
                                                <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                    <p class="person-age">{{person.name}}</p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 2">
                                            <p class="room-number">
                                                <span class="font-italic">Room {{room.quantity}}<span>
                                            </p>                            <div class="align">
                                                <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                    <p class="person-age">{{person.name}}</p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 1">
                                            <p class="room-number">
                                                <span class="font-italic">Room {{room.quantity}}<span>
                                            </p>
                                            <div class="align">
                                                <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                    <p class="person-age">{{person.name}}</p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn-primary" v-on:click="isHidden = true">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-code">
                            <a href="javascript:;" class="promo-code-link">Add a code +</a>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Type your code...">
                            </div>
                        </div>
                        <button type="submit" class="btn-primary w-100 loading-spinner">Search</button>
                    </form>
                </div>
            </div> -->
            <hr>
            <section class="home__title-img-slider-btn">
                <span class="label-text">DISCOVER</span>
                <h1>Special Offers</h1>
                <div class="slider-6--js">
                    <div class="home__title-img-slider-btn__item" style="background-image: linear-gradient(to bottom, rgba(32, 47, 56, 0.4) 99%, rgba(19, 30, 58, 0) 50%, rgba(32, 47, 56, 0.4) 0%), url(/images/temp/header.jpg)">
                        <div class="home__title-img-slider-btn__content">
                            <h2>1 Night Bed & Breakfast for Two</h2>
                            <div class="home__title-img-slider-btn__content__price">
                                <span>FROM</span>
                                <p>€245</p>
                            </div>
                        </div>
                    </div>
                    <div class="home__title-img-slider-btn__item" style="background-image: linear-gradient(to bottom, rgba(32, 47, 56, 0.4) 99%, rgba(19, 30, 58, 0) 50%, rgba(32, 47, 56, 0.4) 0%), url(/images/temp/header.jpg)">
                        <div class="home__title-img-slider-btn__content">
                            <h2>1 Night Bed & Breakfast for Two</h2>
                            <div class="home__title-img-slider-btn__content__price">
                                <span>FROM</span>
                                <p>€245</p>
                            </div>
                        </div>
                    </div>
                    <div class="home__title-img-slider-btn__item" style="background-image: linear-gradient(to bottom, rgba(32, 47, 56, 0.4) 99%, rgba(19, 30, 58, 0) 50%, rgba(32, 47, 56, 0.4) 0%), url(/images/temp/header.jpg)">
                        <div class="home__title-img-slider-btn__content">
                            <h2>1 Night Bed & Breakfast for Two</h2>
                            <div class="home__title-img-slider-btn__content__price">
                                <span>FROM</span>
                                <p>€245</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-primary-transparent">Find Out More</a>
                </div>
            </section>
            <hr>

            <section class="home__title-2-boxes">
                <div class="text-center">
                    <span class="label-text">DISCOVER</span>
                    <h1>Gift Vouchers</h1>
                </div>
                <div class="home__title-2-boxes__grid">
                    <div class="home__title-2-boxes__card">
                        <img src="/images/temp/img2.png" alt="">
                        <p class="home__title-2-boxes__title">Lorem Ipsun</p>
                    </div>
                    <div class="home__title-2-boxes__card">
                        <img src="/images/temp/img2.png" alt="">
                        <p class="home__title-2-boxes__title">Lorem Ipsun</p>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-primary-transparent">Find Out More</a>
                </div>
            </section>
            <hr>
            <section class="home__description">
                <span class="label-text">All of the family can enjoy a 5-star luxury retreat at The Dunloe Hotel & Gardens.</span>
                <h1>Your Special Day</h1>
                <img src="/images/temp/scrn1.png" alt="">
                <p>Only at The Dunloe, one of the best five star hotels in Ireland, can you experience Irish history, adventure, nature’s playground, world-class dining, stylish architecture, couples’ activities, and the benefits of a family friendly hotel. Our discerning guests are invited to enjoy complimentary onsite leisure activities including horse riding, tennis, fishing, swimming, sauna, steam room, and fitness studio. This famed region will meet every need with golf, tours and walks able to be arranged locally, while family friendly options such as The D Club and movie night programme run during the summer months.</p>
                <div class="text-center">
                    <a href="#" class="btn-primary-transparent">Find Out More</a>
                </div>
            </section>
            <hr>
            <section class="home__contant-info">
                <div class="home__contant-info__card">
                    <h4>ADDRESS</h4>
                    <p class="home__contant-info__card--p">The Dunloe Hotel & Gardens, Beaufort, Killarney, Co. Kerry
                        Ireland, V93 E029</p>
                    <div class="text-center">
                        <a href="#" class="btn-primary-transparent">Find Out More</a>
                    </div>
                </div>
                <div class="home__contant-info__card">
                    <h4>CONTACT US</h4>
                    <p class="home__contant-info__card--p">T: + 353 64 664 4111</p>
                    <div class="text-center">
                        <a href="#" class="btn-primary-transparent">Find Out More</a>
                    </div>
                </div>
            </section>
        </div>
            <div class="home__sticky-slider d-none d-lg-block">
                <div class="slider-5--js">
                    <div class="home__sticky-slider--img" style="background-image: linear-gradient(to bottom, rgba(121, 120, 116, 0), rgba(0, 0, 0, 0.4)), url(https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg)">
    
                    </div>
                    <div class="home__sticky-slider--img" style="background-image: linear-gradient(to bottom, rgba(121, 120, 116, 0), rgba(0, 0, 0, 0.4)), url(https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg)">
    
                    </div>
                    <div class="home__sticky-slider--img" style="background-image: linear-gradient(to bottom, rgba(121, 120, 116, 0), rgba(0, 0, 0, 0.4)), url(https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg)">
    
                    </div>
                </div>
                <div class="home__sticky-slider__footer">
                    <a href="#" class="home__sticky-slider__btn">Button</a>
                </div>
            </div>
    </main>

    <footer class="footer">
        <section class="generic__newsletter">
            <div class="generic__newsletter__content">
                <h4>Sign up to Our Newsletter</h4>
                <p>Stay Up to Date with News & Special Offers from The Dunloe Hotel & Gardens and its Sister Hotels</p>
            </div>
            <form action="" class="generic__newsletter__form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-label="email" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn-primary">Join the List</button>
            </form>
        </section>
        <section class="footer__top">
            <div class="footer__top__wrapper">
                <a href="#"><img src="/images/logo-dark.png" alt=""></a>
                <ul>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">Our Blog</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__bottom">
            <a href="#" class="footer__btn">CAREERS <br> -at- <br> The Dunloe House & Gardens</a>
            <hr>
            <div class="footer__bottom__content">
                <p>Dunloe Hotel & Gardens
                    Beaufort, Killarney, Co. Kerry
                    Ireland, V93 E029
                </p>
                <a href="tel:+353646644111">T: + 353 64 664 4111</a>
            </div>
                <ul>
                    <li><a href=""><img src="/images/icons/element-icon-social-facebook-on-dark-background-default.svg" alt=""></a></li>
                    <li><a href=""><img src="/images/icons/element-icon-social-instagram-on-dark-background-default.svg" alt=""></a></li>
                </ul>
        </section>
    </footer>

    <div class="mobile-book-btn">
        <div class="btn-primary" data-toggle="modal" data-target="#bookingModal">
            Book Your Stay
        </div>
    </div>

    <div class="modal fade nav-modal" id="navModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img src="/images/logo-icon.jpg" alt="" class="nav-modal__logo">
              <div class="nav-modal__close">
                  <button type="button" class="nav__hamburger--btn" data-dismiss="modal" aria-label="Close"><img src="/images/icons/element-icon-close-gold-default.svg" alt="The Dunloe"></button>
                  <p>Close</p>
              </div>
            </div>
            <div class="modal-body">
                <div class="nav-modal__links">
                    <a href="#">
                        <div class="nav-modal__item">
                            <div>Link 1 <i class="nav-modal__item__chevron"></i></div>
                            <div class="nav-modal__item__dropdown">
                                <a href="#">Suites</a>
                                <a href="#">Suites</a>
                                <a href="#">Suites</a>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="nav-modal__item">
                            <div>Link 1 <i class="nav-modal__item__chevron"></i></div>
                            <div class="nav-modal__item__dropdown">
                                <a href="#">Suites</a>
                                <a href="#">Suites</a>
                                <a href="#">Suites</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nav-modal__sub-desktop">
                    <h1>Stay</h1>
                    <span class="label-text">family friendly Rooms & Suites</span>
                    <div class="nav-modal__grid">
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <img src="/images/temp/img2.png" alt="" class="nav-modal__grid__img">
                                <p class="nav-modal__grid__title">
                                    Title
                                </p>
                            </a>
                        </div>
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <img src="/images/temp/img2.png" alt="" class="nav-modal__grid__img">
                                <p class="nav-modal__grid__title">
                                    Title
                                </p>
                            </a>
                        </div>
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <img src="/images/temp/img2.png" alt="" class="nav-modal__grid__img">
                                <p class="nav-modal__grid__title">
                                    Title
                                </p>
                            </a>
                        </div>
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <img src="/images/temp/img2.png" alt="" class="nav-modal__grid__img">
                                <p class="nav-modal__grid__title">
                                    Title
                                </p>
                            </a>
                        </div>
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <img src="/images/temp/img2.png" alt="" class="nav-modal__grid__img">
                                <p class="nav-modal__grid__title">
                                    Title
                                </p>
                            </a>
                        </div>
                        <div class="nav-modal__grid__item">
                            <a href="#">
                                <div class="nav-modal__grid__card">
                                    <p>All Rooms
                                        & Suites</p>
                                    <img src="/images/icons/element-icon-arrow-right-white.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Book Your Stay</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Modal -->
    <div class="modal fade booking-modal" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/images/logo-icon.jpg" alt="" class="booking-modal__logo-mobile">
                <img src="/images/logo-dark.png" alt="" class="booking-modal__logo-desktop">
                <button type="button" class="close d-flex" data-dismiss="modal" aria-label="Close">
                    <p>CLOSE</p>
                    <img src="/images/icons/element-icon-close-gold-default.svg" alt="The Dunloe" class="booking-modal__close-icon">
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center mt-0">Book Your Stay</h1>
                <div id="booking-widget" class="booking-widget">
                    <div class="widget-form">
                        <form action="">
                            <div class="booking-widget-grid">
                                <div class="form-group">
                                    <div class="booking-widget-datepicker">
                                        <input class="form-control" type="text" id="trigger-single" :value="formatDates(arrivalDate)" placeholder="Select date" readonly>
                                        <input type="hidden" name="arrival" :value="arrivalDate">
                                        <airbnb-style-datepicker
                                                :trigger-element-id="'trigger-single'"
                                                :mode= "'single'"
                                                :date-one="arrivalDate"
                                                :months-to-show="1"
                                                @date-one-selected="dateSelected"
                                        ></airbnb-style-datepicker>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1 Night</option>
                                        <option>2 Nights</option>
                                        <option>3 Nights</option>
                                        <option>4 Nights</option>
                                        <option>5 Nights</option>
                                    </select>
                                </div>
                            </div>
                            <div id="guest-widget">
                                <div class="guest-quantity" v-for="room in rooms">
                                    <div class="d-flex total-guests roll" v-on:click="isHidden = !isHidden">
                                        <p>{{totalRooms}} room</p>
                                        <p>{{totalPeople}} people</p>
                                    </div>
                                    <div class="guest-widget-buttons" v-if="!isHidden">
                                        <div class="guest-widget-buttons-container">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <p>How many rooms?</p>
                                                <div class="d-flex align-items-center justify-content-between w-50">
                                                    <button type="button" @click="room.quantity -= 1" :disabled="room.quantity == 1">-</button>
                                                        <span>{{room.quantity}}</span>
                                                    <button type="button" @click="room.quantity += 1">+</button>
                                                </div>
                                            </div>
                                            <div class="guest-info" v-if="room.quantity >= 4">
                                                <p class="room-number">
                                                    <span>Room {{room.quantity}}<span>
                                                </p>                            
                                                <div class="align">
                                                    <div class="d-flex align-items-center my-3" v-for="person in people">
                                                        <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                        <div class="d-flex align-items-center justify-content-between w-50">
                                                            <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                                <span>{{person.quantity}}</span>
                                                            <button type="button" @click="person.quantity += 1">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="guest-info" v-if="room.quantity >= 3">
                                                <p class="room-number">
                                                    <span class="font-italic">Room {{room.quantity}}<span>
                                                </p>                            
                                                <div class="align">
                                                    <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                        <p class="person-age">{{person.name}}</p>
                                                        <div class="d-flex align-items-center justify-content-between w-50">
                                                            <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                                <span>{{person.quantity}}</span>
                                                            <button type="button" @click="person.quantity += 1">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="guest-info" v-if="room.quantity >= 2">
                                                <p class="room-number">
                                                    <span class="font-italic">Room {{room.quantity}}<span>
                                                </p>                            <div class="align">
                                                    <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                        <p class="person-age">{{person.name}}</p>
                                                        <div class="d-flex align-items-center justify-content-between w-50">
                                                            <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                                <span>{{person.quantity}}</span>
                                                            <button type="button" @click="person.quantity += 1">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="guest-info" v-if="room.quantity >= 1">
                                                <p class="room-number">
                                                    <span class="font-italic">Room {{room.quantity}}<span>
                                                </p>
                                                <div class="align">
                                                    <div class="d-flex align-items-center room-number-row" v-for="person in people">
                                                        <p class="person-age">{{person.name}}</p>
                                                        <div class="d-flex align-items-center justify-content-between w-50">
                                                            <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                                <span>{{person.quantity}}</span>
                                                            <button type="button" @click="person.quantity += 1">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-primary" v-on:click="isHidden = true">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="promo-code">
                                <a href="javascript:;" class="promo-code-link">Add a code +</a>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Type your code...">
                                </div>
                            </div>
                            <button type="submit" class="btn-primary w-100 loading-spinner">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- JS Files -->

    <!-- jQuery -->
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- Multi Select -->
    <script type="text/javascript" src="js/popper.js"></script>

    <!-- Prefixfree -->
    <script type="text/javascript" src="js/prefixfree.min.js"></script>
    <script type="text/javascript" src="js/prefixfree.dynamic-dom.min.js"></script>
    <script type="text/javascript" src="js/prefixfree.viewport-units.js"></script>
    <script type="text/javascript" src="js/prefixfree.jquery.js"></script>

    <!-- Slick -->
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/sliders.js"></script>


    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/no-dep/vue-airbnb-style-datepicker.min.js"></script>

    <script>
        new Vue({
            el: '#guest-widget',
            data: {
                rooms: [{"id":1,"quantity":1,"name":"Room"}],
                people: [{"id":1,"quantity":1,"name":"Adult"},{"id":2,"quantity":0,"name":"Children"},{"id":3,"quantity":0,"name":"Infant"}],
                isHidden: true
            },
            computed: {
                totalRooms () {
                    return this.rooms.reduce((sum, room) => {
                        return sum + room.quantity
                    }, 0)
                },
                totalPeople () {
                    return this.people.reduce((sum, people) => {
                        return sum + people.quantity
                    }, 0)
                }
            }
        })
      </script>

    <!-- Custom -->
    <script src="js/custom.js"></script>

    <script>

    </script>


</body>

</html>