.btn-primary {
    color: #fff;
    background-color: #5e88a2;
    border-radius: 2px;
    padding: 12px 28px;
    font-size: 18px;
    border: 1px solid #5e88a2;
    text-align: center;
    &:hover {
        color: #5e88a2;
        background-color: transparent;
        border: 1px solid #5e88a2;
        cursor: pointer;
    }
}
.btn-primary-transparent {
    color: #5e88a2;
    background-color: transparent;
    border-radius: 2px;
    padding: 12px 28px;
    font-size: 18px;
    border: 1px solid #5e88a2;
    display: inline-block;
    text-align: center;
    @include mQ(992px) {
        width: auto;
    }
    &:hover {
        color: #fff;
        background-color: #5e88a2;
        border: 1px solid #5e88a2;
        cursor: pointer;
    }
}
.btn-secondary {
    color: #5e88a2;
    background-color: #fff;
    border-radius: 2px;
    padding: 12px 28px;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid #fff;
    &:hover {
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        cursor: pointer;
    }
}