@mixin clearFix {
    content: "";
    display: block;
    clear: both;
}

// Custom Grid
@mixin grid ($cols, $mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - ($cols - 1) * $mgn) / $cols );
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

//Media Queries

@mixin mQ($arg...){
    @if length($arg) == 1 {
        @media screen and (min-width: nth($arg, 1)) {
            @content;
        }
    }
    @if length($arg) == 2 {
        @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
            @content;
        }
    }
}

@mixin mQmax($arg){
    @media screen and (max-width: $arg) {
        @content;
    }
}
@mixin mQmin($arg){
    @media screen and (min-width: $arg) {
        @content;
    }
}