.slick-dots li button {
    background: transparent;
    border: 1px solid #93a7cb;
    border-radius: 20px;
    height: 1px;
    width: 1px;
}
.slick-dots li button:before {
    content: '';
}
.slick-dots li.slick-active button {
    background: #93a7cb;
}
.slick-dots {
    bottom: -35px;
}
.slick-prev:before {
    content: url("/images/icons/element-icon-chevron-left-primary.svg");
}
.slick-next:before {
    content: url("/images/icons/element-icon-chevron-right-primary.svg");
}
