// @import './header';
// @import './footer';
@import './resets';
@import './mixins';
@import './variables';
@import './sliders';
@import './buttons';
@import './typography';
@import './navigation';
@import './widget';
@import './footer';

@font-face {
    font-family: Nunito;
    src: url('/css/fonts/Nunito-Regular.ttf');
}
@font-face {
    font-family: Georgia;
    src: url('/css/fonts/Georgia.ttf');
}

body {
    font-family: $textFont;
}
.container {
    max-width: 1170px;
}
hr {
    border-top: 1px solid $dividerColor;
    margin: 64px 0;
}

.form-control {
    // box-shadow: inset 1px 1px 0 0 rgba(34, 34, 34, 0.2);
    background-color: rgba(64, 93, 111, 0.1);
    color: red;
    font-size: 16px;
    border: solid 1px rgba(94, 136, 162, 0.5);
    height: 48px;
    font-family: $textFont;
    border-radius: 0;
    color: #1b315f;
    font-size: 16px;
    &:focus {
        // box-shadow: inset 1px 1px 0 0 #d8d8d8;
        border: solid 1px #5e88a2;
        background-color: rgba(64, 93, 111, 0.1);
        box-shadow: none;
    }
    &::placeholder {
        color: #575757;;
    }
} 

.home {
    &__header {
        background-image: url("/images/temp/header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
        &__content {
            position: absolute;
            width: 100%;
            bottom: 32px;
            color: #fff;
            text-align: center;
            font-size: 20px;
            line-height: 1.5;
            padding: 0 50px;
            p {
                margin-bottom: 5px;
                color: #fff;
            }
            @include mQ(992px) {
                font-size: 22px;
                line-height: 1.45;
                letter-spacing: 1.1px;
            }
        }
        &__logo {
            text-align: center;
            @include mQ(992px) {
                display: none;
            }
            img {
                max-width: 209px;
                padding-top: 60px;
            }
        }
    }
    &__content {
        padding: 32px 15px;
        @include mQ(992px) {
            padding: 60px;
            width: 50%;
        }
        &__logo {
            margin-top: 57px;
            margin-bottom: 57px;
            @include mQ(992px) {
                margin-top: 64px;
                margin-bottom: 50px;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__notification {
        text-align: center;
        &__buttons {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        text-align: center;
        .btn-primary-transparent {
            margin-bottom: 16px;
        }
        &__alert {
            background: red;
            text-align: center;
            padding: 16px 8px;
            margin-bottom: 32px;
            @include mQ(992px) {
                padding: 16px 12px;
            }
        }
    }
    &__description {
        text-align: center;
        p {
            margin-bottom: 12px;
            @include mQ(992px) {
                margin-bottom: 28px;
            }
        }
        h2 {
            font-family: $headingFont;
            font-size: 32px;
            color: $primaryColor;
            line-height: 1.5;
            letter-spacing: 1.27px;
            margin-bottom: 20px;
            @include mQ(992px) {
                font-size: 40px;
                line-height: 1.5;
                letter-spacing: 1.58px;
                margin-bottom: 55px;
            }
        }
        img {
            margin-bottom: 24px;
            width: 100%;
            height: 270px;
            object-fit: cover;
            @include mQ(992px) {
                margin-bottom: 40px;
                height: 275px;
            }
        }
    }
    &__contant-info {
        text-align: center;
        @include mQ(992px) {
            display: flex;
        }
        p {
            margin-bottom: 26px;
        }
        &__card {
            padding: 0 20px 64px 20px;
            @include mQ(992px) {
                padding: 0 15px;
                width: 50%;
            }
        }
    }
}